:root {

}

*{
    font-family: serif;
    font-size: 18px;
}

header {
    background-color: rgb(253, 130, 130);
    position: relative;
    height: 130px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 44px;
    color: white;
}

.header-tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}

#tabs {
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10%;
    align-items: flex-end;
}

a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.bakground-image {
    display: inline; /* How can I get the image centered and full width and heighth to separate header from body cards? */
}

#picture1 {
    
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.full-card {
    border-style:groove;
    border-radius: 10px;
    border-color: rgb(253, 130, 130);
    padding: 5px;
    max-width: 400px;
    margin-top: 20px;
}

.card-header {
    border-style: double;
    border-color: coral;
    margin-top: -20px;
    display: flex;
    position: absolute; /* Is position necessary here? */
    justify-content: center; /* Why can't i get these items centered? */
    align-items: center; /* why is this item still in the stretch positioning? */
    max-width: 50px;
    background-color: white;
}

#GitHub-Link {
    color: coral;
    font-size: 18px;
}
