:root {
    --secondary: rgb(253, 130, 130);
}

*{
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(36, 36, 36);
}

header {
    background-color: var(--secondary);
    position: relative;
    height: 20%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 90px;
    background-color: var(--secondary);
    color: white;
}

#portfolioHeadshot {
    display: block;
    margin: 0 auto;
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
}

.header-tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}

#navBarTabs {
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10%;
    align-items: flex-end;
}

#navBarTabs:hover {
    text-decoration: underline;
}

a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

.background-image {
    display: inline; 
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.full-card {
    border-style:solid;
    border-radius: 10px;
    border-color: var(--secondary);
    padding: 5px;
    max-width: 80%;
    margin-top: 20px;
    justify-content: center;
    padding: 1%;
}

.card-header {
    font-size: 38px;

}

#hw1-link {
    color: var(--secondary);
    font-size: 18px;
}

#homework1Screenshots {
    display: block;
    max-width: 50%;
    margin: 0 auto;
}

h6 {
    color: white;
    text-align: center;
}

@media screen and (max-width: 992px) {
     h1 {
        font-size: 60px;
     }
     a {
        font-size: 95%;
    }
}

@media screen and (max-width: 768px) {
    a {
        font-size: 90%;
    }
  }
  
  @media screen and (max-width: 576px) {
    a {
        font-size: 85%;
    }
  }