:root {

}

*{
    font-family: sans-serif;
    font-size: 18px;
}

header {
    background-color: rgb(253, 130, 130);
    position: relative;
    height: 20%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: white;
}

#portfolioHeadshot {
    display: block;
    margin: 0 auto;
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
}

.header-tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
}

#navBarTabs {
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 10%;
    align-items: flex-end;
}

a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.background-image {
    display: inline; 
}
/* 
#picture1 {
    width: 98.22vw;
} */

.card-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.full-card {
    border-style:solid;
    border-radius: 10px;
    border-color: rgb(253, 130, 130);
    padding: 5px;
    /* min-height: 20%; */ 
    max-width: 80%;
    margin-top: 20px;
    justify-content: center;
    padding: 1%;
}

.card-header {
    font-size: 38px;
    /* border-style: solid;
    border-radius: 10px;
    border-color: coral;
    padding: 6px;
    margin-top: -25px;
    display: flex;
    position: absolute; /* Is position necessary here? */
    /* justify-content: center; /* Why can't i get these items centered? */
    /* align-items: center; why is this item still in the stretch positioning? */
    /* max-width: 50px; */ 
    /* background-color: white; */
}

.card-body {
    
}

#hw1-link {
    color: coral;
    font-size: 18px;
}

#homework1Screenshots {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    /* max-height: 10%; */
}

@media screen and (max-width: 992px) {
     h1 {
        font-size: 50px;
     }
}

@media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }